<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=header%></title>
    <style>
        body{
            width: 100%;
        }
        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <% jokes.forEach(joke => { %>
        <div class="container">
            <h1><%= joke.id %></h1>
            <h1><%= joke.type %></h1>
            <h1><%= joke.setup %></h1>
            <h1><%= joke.punchline %></h1>
        </div>
    <% }) %>    
    <button> Click to get a Joke</button>
</body>
</html>